@*
   Navbar Component - LINTU LMS
   Thiết kế lại thanh điều hướng
   Tác giả: Augment AI
*@

<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0);">
                <i class="feather icon-menu"></i>
            </a>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <i class="feather icon-globe"></i>LINTU
            </a>
            <a class="mobile-options" href="javascript:void(0);">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>

        <div class="navbar-container">
            <ul class="nav-left">
                <!-- Phần bên trái navbar để trống -->
            </ul>
            <ul class="nav-right">
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>
